h1{
  color:blue;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
li{
  font-size: 25px;
}
body{
  background-color:green;
}
h2{
  text-align: center;
  font-size: 30px;
  color:yellow;
}
img{
  #pic1{
  height:150px;
  width:160px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.p{
  font-size: 20px;
}
  #navigate ul li a {
  display:block;
  color:white;
  text-align:center;
  padding:15px 17px;
  text-decoration:none;
  background-color:brown;
}
nav{
  width: 100%;
  background: #fff;

}
ul{
  width: 80#;
  margin: 0 auto;
  padding: 0;

}
ul li{
  list-style: none;
  display: inline-block;
  padding: 20px;
}
